### PackageManager
*.tgz
yarn.lock
node_modules
jspm_modules
config

### tests
test
tests

### hidden files
.*

### temp files
package-deps.json
*.log

### build source
build-script.json
Gulpfile.*
*.tsbuildinfo

### docs
docs/*
!docs/*.d.ts

### tests
/tests/
/test/

### export-all-in-one ###
lib/*.d.ts
lib/**/*.d.ts
