[submodule "tools/export-all-in-one"]
	path = tools/export-all-in-one
	url = https://github.com/GongT/export-all-in-one

[submodule "tools/single-dog"]
	path = tools/single-dog
	url = https://github.com/GongT/single-dog
