### PackageManager
*.tgz
yarn.lock
node_modules
jspm_modules
config
pnpm-lock.yaml

### hidden files
.*

### temp files
package-deps.json
*.log

### build source
build-script.json
Gulpfile.*

### docs
docs/*
!docs/*.d.ts

### export-all-in-one ###
lib/*.d.ts
lib/**/*.d.ts
