### PackageManager
*.tgz
yarn.lock
node_modules
jspm_modules
config

### tests
test
tests
lib/testing

### hidden files
.*

### temp files
package-deps.json
*.log

### build source
build-script.json
Gulpfile.*
*.tsbuildinfo
scripts

### docs
docs/*
!docs/*.d.ts

### tests
/tests/
/test/
